.footer_sec p{
    margin: 0;
    padding-bottom: 5px;
}
.footer_sec p a{
    text-decoration: none;
    color: #000;
    font-size: 13px;
}
.footer_main{
    border-top: 2px solid #b2ebf7;
    padding-top: 60px;
}