.slick-next:before {
    visibility: hidden !important;
}

.slick-prev:before {
    visibility: hidden !important;
}

.slick-next {
    right: 0px !important;
}

.search_btn_header i {
    font-size: 14px !important;
    padding-right: 10px !important;
}

.search_btn_header {
    color: var(--color) !important;
}

/* .sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
} */
.header_color {
    background: var(--background);
}

.header_color h6 {
    font-size: 11px !important;
}

.header_logo i {
    font-size: 20px;
    padding-right: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #fff;
}

.dropdown-content {
    display: none;
    left: -100%;
    right: 0;
    width: 1100px;
    margin-top: 0;
    background: color #f9f9f9;
    z-index: 1;
    box-shadow: 2px 2px 10px #c5edea;
    border-radius: 5px 5px;
    border: none !important;
    padding: 10px 20px;
}

.border-dropdown {
    border-bottom: 1px solid #E5E7E9;
    font-weight: bold;
    font-size: 15px;
    padding-left: 16px;
    padding-bottom: 5px;
    padding-top: 15px;
}

.dropdown-content li a {
    text-decoration: none;
    color: #000;
    padding-left: 16px;
}

.dropdown-md-content {
    display: none;
}

.dropdown:hover .dropdown-md-content {
    display: block;
    background-color: #fff;
}

.dropdown-md-content li a {
    text-decoration: none;
    color: #000;
    padding-left: 16px;
}

.dropdown a {
    color: #000;
    transition: 1s;
}

.dropdown a:hover {
    color: #000;
    padding-left: 20px;
    transition: 1s;
}

.badge-icon {
    width: 15px;
    height: 15px;
    font-size: 9px !important;
    color: #000 !important;
    border-radius: 6px !important;
    display: inline-block;
    position: absolute;
    top: -7px;
    line-height: 18px;
    text-align: center;
    right: -10px;
    background: var(--background);
    vertical-align: middle !important;
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: #353842;
    font-size: 15px;
    transition: color 0.8s ease;
    cursor: pointer;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    border-radius: 20px;
    background: var(--background);
    transition: width 0.8s ease;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
}

.btn_md {
    position: absolute;
    bottom: 0;
    background-color: #fff !important;
    z-index: 9999;
    width: 100%;
    padding: 10px 10px;
}

.offcanvas-start {
    width: 284px !important;
}

.btn_md a {
    text-decoration: none;
}

.btn_md button {
    margin: auto;
    /* width: 50%; */
    display: block;
    min-width: 160px;
    width: fit-content;
    width: -moz-fit-content;
    background: #fff !important;
    padding: 6px 30px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
    box-shadow: 0 15px 40px -10px rgba(0, 0, 0, 0.3) !important;
    position: relative;
    transition: all 0.4s ease;
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    span {
        z-index: 1;
        text-align: center;
        text-decoration: none !important;
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        width: 4px;
        height: 100%;
        top: 0;
        transition: all 0.4s ease;
        background: #2498b3;
    }

    &:before {
        left: 0;
    }

    &:after {
        right: 0;
    }

    &:hover {
        transition: all 0.4s ease;
        box-shadow: 0 8px 20px -12px rgba(0, 0, 0, 0.2);
        letter-spacing: 2px;
        color: rgb(23, 3, 3) !important;

        &:before,
        &:after {
            width: 51%;
        }
    }
}

.offcanvas_start_search {
    width: 65% !important;
    border-right: 0px !important;
}

.trending-searches {
    display: flex;
    flex-direction: column;
}

.search-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.left,
.right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.trending-icon {
    content: url('path-to-trending-icon');
}

.search-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}

.search-item span {
    font-size: 13px;
}

.trending_title {
    color: var(--color) !important;
    font-size: 20px;
}

.search_offcanvas_arrow {
    width: 13% !important;
    height: auto !important;
    object-fit: cover !important;
    border-radius: 5px !important;
}

.offcanvas-title {
    font-size: 24px;
    font-weight: bold;
    color: #5D3FD3;
}

.btn-close {
    font-size: 18px;
}

.offcanvas_search {
    border-bottom: 1px solid rgb(235, 235, 255) !important;
    padding-top: 8px;
}
.offcanvas_search_border {
    border-bottom: 1px solid rgb(235, 235, 255) !important;
    padding-top: 8px;
}

.offcanvas-header {
    padding-top: 0% !important;
    box-shadow: -3px 0px 10px #f1f1f1;
}

.offcanvas-header .btn-close {
    margin-top: 0.5rem !important;
    margin-right: 0.5rem !important;
}

@media(max-width:1024px) {
    .dropdown-content {
        left: -100%;
        width: 945px !important;
    }
}

@media(max-width:992px) {
    .main_logo {
        width: 42% !important;
    }
}

@media(max-width:592px) {
    .main_logo {
        width: 48% !important;
    }
}

@media(max-width:425px) {
    .main_logo {
        width: 55% !important;
    }
}

@media(max-width:376px) {
    .main_logo {
        width: 66% !important;
    }
}